.loader {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-horizontal-xl);
  align-items: center;

  // Fullscreen variant for transitions
  &--fullscreen {
    position: fixed;
    top: 0;
    bottom: 6rem;
    left: 0;
    z-index: 999; // Below Taskbar's z-index
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-brand-foreground2);

    .dark-theme & {
      background-color: var(--color-brand-foreground2);
    }
  }

  &__spinner {
    width: 7rem;
    height: 7rem;
    border: 2px dashed;
    border-color: var(--color-neutral-background2)
      var(--color-neutral-background2) var(--color-neutral-background2)
      transparent;
    border-radius: var(--border-radius-circular);
    animation: spin 1.8s linear infinite;

    .dark-theme & {
      border-color: var(--color-neutral-background5)
        var(--color-neutral-background5) var(--color-neutral-background5)
        transparent;
    }
  }

  &__text-container {
    position: relative;
    min-width: 20rem;
    min-height: 10rem;
    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 100%;
    min-width: 7rem;
    height: 100%;
    margin: 0;
    color: var(--color-neutral-background4);
    font-size: var(--font-size-base400);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base300);
    opacity: 0;
    animation: slide-in-out 8s ease-in-out infinite;

    .dark-theme & {
      color: var(--color-neutral-background4);
    }

    // Stagger the animation for each text item
    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 2s;
    }

    &:nth-child(3) {
      animation-delay: 4s;
    }

    &:nth-child(4) {
      animation-delay: 6s;
    }
  }
}

// Spinner rotation animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// Text slide-in from bottom and slide-out to top animation
@keyframes slide-in-out {
  0% {
    // opacity: 0;
    transform: translateY(2rem);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  30% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}
