.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2rem 4rem;
  align-items: center;

  @include fade-in-element;
}

@media (max-width: $breakpoint-desktop-xl) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
