.vscode {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-background1);

  &__iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
