.datetime-display {
  position: absolute;
  top: var(--spacing-vertical-xxxl);
  left: var(--spacing-horizontal-xxxl);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-vertical-xs);

  &__time {
    color: var(--color-static-white);
    font-size: var(--font-size-hero1000);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-hero1000);
    text-shadow: 0 2px 4px
      color-mix(in srgb, var(--color-static-black) 30%, transparent);
  }

  &__date {
    color: var(--color-static-white);
    font-size: var(--font-size-base600);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base600);
    text-shadow: 0 1px 2px
      color-mix(in srgb, var(--color-static-black) 30%, transparent);
  }
}
