.portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-horizontal-m);
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: thin;
  background-color: var(--color-static-white);
  color: var(--color-neutral-foreground);

  @include fade-in-element(1s);

  &.dark-theme {
    background-color: var(--color-static-black);
    color: var(--color-neutral-foreground1);
  }

  &__main {
    position: sticky;
    top: 7rem; // Same as Sidebar
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-l);
    width: 80%;
    height: 80%; // Same as Sidebar
    padding: 0 var(--spacing-horizontal-l);
    margin-right: 5rem; // Close to margin-left in Sidebar
    overflow: hidden;
  }

  &__section-wrapper {
    width: 100%;
    height: 100%;
    padding: var(--spacing-vertical-l) var(--spacing-horizontal-xl);
    overflow-y: auto;
    scrollbar-width: thin;
    border: 1px solid var(--color-neutral-stroke2);
    border-radius: var(--border-radius-large);
  }
}

.portfolio-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
  padding: var(--spacing-vertical-m) var(--spacing-horizontal-xl);
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: var(--color-neutral-background2);
  container-type: inline-size;

  .dark-theme & {
    background-color: var(--color-neutral-background2);
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-neutral-foreground3);
    font-size: var(--font-size-base300);
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $breakpoint-tablet-landscape) {
  .portfolio {
    &__main {
      width: 100%;
      margin-right: 3rem;
    }
  }
}

@media (max-width: $breakpoint-tablet-portrait) {
  .portfolio {
    position: relative;
    flex-direction: column;
    gap: var(--spacing-vertical-xxxl);
    justify-content: start;
    overflow-y: auto;
    scrollbar-width: thin;

    &__main {
      // position: static;

      @include mobile-device-layout;
      flex-direction: column-reverse;
      width: 90.5%;
      height: 67vh;
      padding: 0;

      // padding: 0 var(--spacing-horizontal-xl);

      // .portfolio-navbar {
      //   position: fixed;
      //   bottom: 5rem;
      //   width: 91%;
      // }
    }

    &__section-wrapper {
      width: 100%;
      margin-top: 1rem;
    }
  }

  .portfolio-section {
    padding: var(--spacing-vertical-xl) var(--spacing-horizontal-xl);

    .projects {
      // grid-template-rows: 45rem;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .portfolio {
    &__main {
      height: 55vh;

      // .portfolio-navbar {
      //   bottom: 1rem;
      // }
    }
  }
}
