.portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: thin;
  background-color: var(--color-static-white);
  color: var(--color-neutral-foreground);

  @include fade-in-element(1s);

  &.dark-theme {
    background-color: var(--color-static-black);
    color: var(--color-neutral-foreground1);
  }

  &__main {
    width: 80%;
    height: 100%;
  }
}

@media (max-width: $breakpoint-tablet-portrait) {
  .portfolio {
    flex-direction: column;
    gap: var(--spacing-vertical-l);
  }
}
