.portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-horizontal-m);
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: thin;
  background-color: var(--color-static-white);
  color: var(--color-neutral-foreground);

  @include fade-in-element(1s);

  &.dark-theme {
    background-color: var(--color-static-black);
    color: var(--color-neutral-foreground1);
  }

  &__main {
    position: sticky;
    top: 7rem; // Same as Sidebar
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-l);
    width: 80%;
    height: 80%; // Same as Sidebar
    padding: 0 var(--spacing-horizontal-l);
    margin-right: 5rem; // Close to margin-left in Sidebar
    overflow-y: auto;
  }

  &__section-wrapper {
    width: 100%;
    height: 100%;
    padding: var(--spacing-vertical-m) var(--spacing-horizontal-m);
    border: 1px solid var(--color-neutral-stroke2);
    border-radius: var(--border-radius-large);
  }
}

.portfolio-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  overflow: hidden;
  border-radius: var(--border-radius-large);
  background-color: var(--color-neutral-background2);

  .dark-theme & {
    background-color: var(--color-neutral-background2);
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-neutral-foreground3);
    font-size: var(--font-size-base300);
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $breakpoint-tablet-portrait) {
  .portfolio {
    flex-direction: column;
    gap: var(--spacing-vertical-l);
  }
}
