.education {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-horizontal-xxl);

  width: 100%;
  height: fit-content;
  min-height: 10rem;

  &__left {
    width: 5rem;
    height: 100%;
  }

  &__fluent-icon {
    width: 2.5rem;
    height: auto;
    margin-top: 0.5rem;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }

  &__right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
  }

  &__school-name {
    margin: 0;
    color: var(--color-neutral-foreground2);
    font-size: var(--font-size-base500);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base500);
  }

  &__duration {
    margin: 0;
    color: var(--color-neutral-foreground4);
    font-size: var(--font-size-base300);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base300);
  }

  &__degree {
    margin: var(--spacing-vertical-xs) 0;
    color: var(--color-neutral-foreground3);
    font-size: var(--font-size-base400);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base400);
  }

  &__description {
    width: 100%;
    margin: var(--spacing-vertical-m) 0 0 0;
    color: var(--color-neutral-foreground2);
    font-size: var(--font-size-base200);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base200);
  }
}

@media (max-width: $breakpoint-tablet-landscape) {
  .education {
    &__fluent-icon {
      width: 2.2rem;
    }

    &__right {
      width: 100%;
    }

    &__school-name {
      font-size: var(--font-size-base400);
      line-height: var(--line-height-base400);
    }

    &__duration {
      font-size: var(--font-size-base200);
      line-height: var(--line-height-base200);
    }

    &__degree {
      font-size: var(--font-size-base300);
      line-height: var(--line-height-base300);
    }

    &__description {
      font-size: var(--font-size-base200);
      line-height: var(--line-height-base200);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .education {
    gap: var(--spacing-horizontal-s);

    &__left {
      width: 2.5rem;
    }

    &__fluent-icon {
      width: 2rem;
    }

    &__school-name {
      font-size: var(--font-size-base300);
      line-height: var(--line-height-base300);
    }

    &__duration {
      font-size: var(--font-size-base100);
      line-height: var(--line-height-base200);
    }

    &__degree {
      font-size: var(--font-size-base200);
      line-height: var(--line-height-base300);
    }

    &__description {
      font-size: var(--font-size-base100);
      line-height: var(--line-height-base200);
    }
  }
}
