// SCSS Mixins and Helper Functions

// Add your custom mixins here as needed

@mixin screen-layout {
  width: 100%;
  height: 100%;

  &__title {
    font-size: var(--font-size-hero900);
    font-weight: var(--font-weight-bold);
    text-align: center;
  }
}

@mixin disable-default-button-styles {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
}
