.download-resume {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-vertical-xxl);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include fade-in-element;

  &__title {
    color: var(--color-neutral-foreground2);
    font-size: var(--font-size-base500);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base500);

    @include fade-in-element(0.7s);
  }

  &__download-button {
    @include disable-default-button-styles;

    display: flex;
    flex-direction: row;
    gap: var(--spacing-horizontal-l);
    align-items: center;
    width: fit-content;
    min-width: 5rem;
    height: 4rem;
    padding: var(--spacing-vertical-m) var(--spacing-horizontal-m);
    border: 1px solid var(--color-neutral-stroke2);
    border-radius: var(--border-radius-large);
    opacity: 0.8;
    cursor: pointer;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease-in;

    &:hover {
      opacity: 1;
      box-shadow: var(--shadow16);
    }

    &:active {
      opacity: 1;
      transform: scale(0.95);
    }
  }

  &__text-two {
    color: var(--color-neutral-foreground2);
    font-size: var(--font-size-base400);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base400);
  }

  &__fluent-icon {
    width: 2.5rem;
    height: auto;
    color: var(--color-neutral-foreground4);
  }
}
