.file-explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
  container-type: inline-size;
  overflow-y: scroll;
  scrollbar-width: thin;

  &__loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .loader__spinner {
      border-color: var(--color-static-black) var(--color-static-black)
        var(--color-static-black) transparent;
    }

    .loader__text {
      color: var(--color-static-black);
    }
  }

  &__iframe {
    width: 100%;
    height: 95%;
    border: none;
  }
}
