.work-exp {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-vertical-l);
  width: 100%;
  height: 100%;

  @include fade-in-element;

  &__section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-m);
    width: 100%;
    height: fit-content;
  }

  @include separator-element;
}
