.login-screen {
  @include screen-layout;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-vertical-xl);
  align-items: center;

  &__title {
    font-size: var(--font-size-hero900);
    font-weight: var(--font-weight-bold);
  }

  &__button {
    @include disable-default-button-styles;

    min-width: 10rem;
    height: 5rem;
    padding: 1rem;
    border-radius: var(--border-radius-xlarge);
    background-color: var(--color-neutral-foreground4);
    font-size: var(--font-size-base400);
    cursor: pointer;
  }
}
